<a href="https://colab.research.google.com/github/Gr-30/DL/blob/main/assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries/Dataset

## Import the required libraries and the dataset.

In [17]:
import pandas as pd
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import classification_report, confusion_matrix
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer 
from sklearn.model_selection import train_test_split
from mlxtend.plotting import plot_confusion_matrix
import matplotlib.cm as cm
from matplotlib import rcParams
from collections import Counter
from nltk.tokenize import RegexpTokenizer
import re
import string
from tensorflow.keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing import sequence
%matplotlib inline
from wordcloud import WordCloud, STOPWORDS
import warnings
warnings.filterwarnings("ignore")

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
data = pd.read_csv("/content/drive/MyDrive/Assignment1/training.1600000.processed.noemoticon.csv", encoding = "ISO-8859-1", engine="python")

## Check the GPU available

In [9]:
!nvidia-smi -L

GPU 0: Tesla T4 (UUID: GPU-a5bcfe09-ace8-6ca7-e2fe-d1f4b64e9966)

# Data Visualization

## Print at least two movie reviews from each class of the dataset, for a sanity check that labels match the text.

loading the data

In [10]:
data.columns = ["label", "time", "date", "query", "username", "text"]

Five top records

In [13]:
data.head()

   label  ...                                               text
0      0  ...  is upset that he can't update his Facebook by ...
1      0  ...  @Kenichan I dived many times for the ball. Man...
2      0  ...    my whole body feels itchy and like its on fire
3      0  ...  @nationwideclass no, it's not behaving at all....
4      0  ...                      @Kwesidei not the whole crew

[5 rows x 6 columns]

Features of Data

In [11]:
data.columns

Index(['label', 'time', 'date', 'query', 'username', 'text'], dtype='object')

Data length

In [ ]:
len(data)

Data Information

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 6 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   label     1599999 non-null  int64
 1   time      1599999 non-null  int64
 2   date      1599999 non-null  object
 3   query     1599999 non-null  object
 4   username  1599999 non-null  object
 5   text      1599999 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

Checking Null values

In [12]:
np.sum(data.isnull().any(axis=1))

0