<a href="https://colab.research.google.com/github/Gr-30/DL/blob/main/DL/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import tensorflow as tf

In [4]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [7]:
df = pd.read_csv("/content/drive/MyDrive/DeepLearning-datasets/imagenette2-160/noisy_imagenette.csv", encoding = "ISO-8859-1", engine="python")

In [9]:
df.head()

                                           path  ... is_valid
0           train/n02979186/n02979186_9036.JPEG  ...    False
1          train/n02979186/n02979186_11957.JPEG  ...    False
2           train/n02979186/n02979186_9715.JPEG  ...    False
3          train/n02979186/n02979186_21736.JPEG  ...    False
4  train/n02979186/ILSVRC2012_val_00046953.JPEG  ...    False

[5 rows x 7 columns]